h1{
    text-align: center;
}
.card-header{
    background-color: #00f0ff; 
     border-style: solid ;
}

.card-body{
    background-color: #00f0ff; 
     border-style: solid ;
}

.div-cyberpunk{
    margin: auto;
    display: flex;
    height: 80%;
    width: 80%;
  }

  .carro-gif{
    margin: auto;  
    width:500px;
    height:500px;
  }

  .card-body-jonnhy{
    background-color: #00f0ff; 
    max-width: 540px;
  }
  
  .card-body-carla{
    background-color: #00f0ff; 
  }
  .card-carla{
    max-width: 540px;
  }
.card-body-sobre{
  background-color: #00f0ff; 
  border-style: solid ;
}

.col-md-8{
  background-color: #00f0ff; 
  border-style: solid ;
}

.accordion
{
  background-color: #00f0ff; 
  border-style: solid ;
}

.accordion-button{
    background-color: #00f0ff; 
     border-style: solid ;
}

.accordion-body{
    background-color: #00f0ff; 
    border-style: solid ;
}

@media only screen and (max-width:720px) {
  .carro-gif{
    margin: auto;  /* Magic! */
  width:250px;
  height:250px;
  }
  .mapa_cyberpunk{
    margin: auto;  /* Magic! */
    border-style: solid;
    width:200px;
    height:200px;
  }
}