<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="./css/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="../public/images/Cyberpunk_2077_favicon.png">

</head>

<body style="background-color: #fcee0a"></body>
   

<div>
    <!--
        <form method="post" action="/login">
            <label>Login:</label>
            <input type="text" name="username" value="" />
            <label>Senha:</label>
            <input type="password" name="password" />
            <button type="submit">Enviar</button>
        </form>
        
    -->
    <div style=" margin: auto;width: 50%; border: 3px solid black; padding: 10px; background-color: #00f0ff; ">
    <h1 style="font-family: Tomorrow, sans-serif;">Digite os dados do seu login: </h1>
    
    <br>
    <form method="post" action="/login">
      <div class="mb-3">
        <label   for="Login" class="form-label">Login:</label>
        <input type="text" name="username" value="" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" name="password">
      </div>
     
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <br>
    
    <a href="http://localhost:3000/">
    <button class="btn btn-secondary" >Voltar ao início</button>
    </a>
    </div>
    
        <footer class="bg-light text-center text-lg-start" style="position: fixed;left: 0; bottom: 0; width: 100%; text-align: center;"  >
    
            <div class="text-center p-3" style="background-color: #272932; ">
         
                <a style="color: white;">Cd Projekt RED  © 2022 Copyright</a>
    
            </div>
    
      </footer>
    
    </div>

</body>

</html>